---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import '../styles/blog-post.css'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, heroImage } = Astro.props

function getFormattedDate(date: Date) {
  return date.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  })
}
---

<BaseLayout title={title} description={description}>
  <main>
    <article>
      <div class='blog-header'>
        {heroImage && <img src={heroImage} class='hero-image' />}
        <div>
          <h1>{title}</h1>
          {pubDate && <time class='date'>{getFormattedDate(pubDate)}</time>}
          <!-- {
        updatedDate && (
          <div>
            Last updated on <time>{getFormattedDate(updatedDate)}</time>
          </div>
        )
      } -->
        </div>
        <strong class="description">{description}</strong>
        <hr />
      </div>
      <div class='blog'>
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>

<style>
  .blog-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
  }

  .hero-image {
    width: 100%;
  }

  .date {
    color: var(--light-text-color);
  }
</style>
