---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import '../styles/blog-post.css'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props

function getFormattedDate(date: Date) {
  return date.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  })
}
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <article>
      {heroImage && <img src={heroImage} class='hero-image' />}
      <h1>{title}</h1>
      {pubDate && <time>{getFormattedDate(pubDate)}</time>}
      {
        updatedDate && (
          <div>
            Last updated on <time>{getFormattedDate(updatedDate)}</time>
          </div>
        )
      }
      <h4>{description}</h4>
      <hr />
      <div class='blog'>
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>

<style>
  .hero-image {
    width: 100%;
  }
</style>
